/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.workspace-tabs.mod-stacked .workspace-leaf {
  width: 750px !important;
  min-width: 750px !important;
  max-width: 750px !important;
  flex-basis: 750px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  box-shadow: -8px 0 16px rgba(0, 0, 0, 0.15) !important;
}